@using MKnet.LandingPage.Components.Landing._about
@using MKnet.LandingPage.Components.Landing._footer
@using MKnet.LandingPage.Components.Landing._header
@using MKnet.LandingPage.Components.Landing._media
@using MKnet.LandingPage.Components.Landing._services
@using MKnet.LandingPage.Components.Landing._team

<LandingHeader/>

<LandingAbout/>

<LandingServices/>

<LandingMedia/>

<LandingTeam/>

<LandingFooter/>


<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="lni-chevron-up"></i>
</a>

@* <!-- Preloader -->
<div id="preloader">
    <div class="loader" id="loader-1"></div>
</div>
<!-- End Preloader --> *@