@using MKnet.Landing.Strategy.Domain.Models
@using MKnet.Landing.Strategy.Domain.Services

@inject IJSRuntime JS

<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Sobre Nosotros</h2>
        <div><span>Aprende</span> <span class="description-title">un poco</span></div>
    </div>

    <div class="container">

        <div class="row gx-5 align-items-center">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                          "slidesPerView": 1,
                          "loop": true,
                          "speed": 3000,
                          "effect": "fade",
                          "fadeEffect": {
                            "crossFade": true
                          },
                          "autoplay": {
                            "delay": 10000
                          }
                        }
                    </script>

                    <div class="swiper-wrapper">

                        @foreach (var item in item.Images)
                        {
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="about-image position-relative">
                                        <img src="assets/img/about/@item" class="img-fluid rounded-4 shadow-sm" alt="@item about image">
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-left" data-aos-delay="300">
                <div class="about-content">
                    <h2>@item.Title</h2>
                    <p class="lead">@item.Description</p>
                </div>
            </div>
        </div>

    </div>

</section>

@code {
    private AboutDTO item = new AboutDTO("", "", []);

    protected override async Task OnInitializedAsync()
    {
        try
        {
            item = await JsonHelper.Load<AboutDTO>("about");

            if (item is null)
                item = new AboutDTO("", "", []);
        }
        catch (Exception)
        {
            item = new AboutDTO("", "", []);
        }
    }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         await JS.InvokeVoidAsync("initCustomSwiper", ".init-swiper", item.Speed, item.Delay);
    //     }
    // }
}
