<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Sobre Nosotros</h2>
        <div><span>Aprende de</span> <span class="description-title">Nosotros</span></div>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gx-5 align-items-center">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
                <div class="about-image position-relative">
                    <img src="assets/img/about/about.webp" class="img-fluid rounded-4 shadow-sm"
                        alt="About Image" loading="lazy">
                </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-left" data-aos-delay="300">
                <div class="about-content">
                    <h2>Elevating Business Performance Through Innovation</h2>
                    <p class="lead">We focus on crafting bespoke strategies that navigate complexity and deliver
                        tangible results for our clients.</p>
                    <p>Through a blend of sophisticated analytics and creative problem-solving, we empower organizations
                        to thrive in rapidly evolving markets.</p>

                    @* <div class="row g-4 mt-3">
                        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="400">
                            <div class="feature-item">
                                <i class="bi bi-check-circle-fill"></i>
                                <h5>Dedicated Team Support</h5>
                                <p>Our highly skilled professionals are committed to providing personalized service and
                                    impactful solutions on every engagement.</p>
                            </div>
                        </div>
                        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="450">
                            <div class="feature-item">
                                <i class="bi bi-lightbulb-fill"></i>
                                <h5>Forward-Thinking Approach</h5>
                                <p>We embrace innovative methodologies to develop unique strategies that drive lasting
                                    success.</p>
                            </div>
                        </div>
                    </div> *@
                </div>
            </div>
        </div>

    </div>

</section><!-- /About Section -->
