@using MKnet.Landing.Strategy.Domain.Models
@using MKnet.Landing.Strategy.Domain.Services
<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Sobre Nosotros</h2>
        <div><span>Aprende</span> <span class="description-title">un poco</span></div>
    </div>

    <div class="container">

        <div class="row gx-5 align-items-center">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
                <div class="about-image position-relative">
                    <img src="assets/img/about/@item.Image" class="img-fluid rounded-4 shadow-sm" alt="About Image" loading="lazy">
                </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-left" data-aos-delay="300">
                <div class="about-content">
                    <h2>@item.Title</h2>
                    <p class="lead">@item.Description</p>
                </div>
            </div>
        </div>

    </div>

</section>

@code {
    private AboutDTO item = new AboutDTO("");

    protected override async Task OnInitializedAsync()
    {
        try
        {
            item = await JsonHelper.Load<AboutDTO>("about");

            if (item is null)
                item = new AboutDTO("");
        }
        catch (Exception)
        {
            item = new AboutDTO("");
        }
    }
}
