@using MKnet.Landing.Strategy.Components.Landing.Components
@using MKnet.Landing.Strategy.Models
<section id="services" class="services section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Servicios</h2>
        <div><span>Nuestros</span> <span class="description-title">Servicios</span></div>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row justify-content-center">
            @foreach (var item in items)
            {
                <Service Item="item"/>
            }
        </div>

    </div>

</section>


@code{
    private List<ServiceDTO> items = [];

    protected override async Task OnInitializedAsync()
    {
        items = new List<ServiceDTO>
        {
            new ServiceDTO("Antivirus", "Nod32", "nod32.png", "Descripción del servicio."),
            new ServiceDTO("Antivirus",  "Segurmática", "segurmatica.png", "Descripción del servicio."),
            new ServiceDTO("Conexión a la", "Red", "red.png", "Descripción del servicio.")
        };
        await Task.CompletedTask;
    }
}