@using MKnet.Landing.Strategy.Components.Landing.Components
@using MKnet.Landing.Strategy.Domain.Models
@using MKnet.Landing.Strategy.Domain.Services

<section id="services" class="services section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Servicios</h2>
        <div><span>Que</span> <span class="description-title">Ofrecemos</span></div>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row justify-content-center">
            @foreach (var item in items)
            {
                <Service Item="item"/>
            }
        </div>

    </div>

</section>


@code{
    private List<ServiceDTO> items = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            items = await JsonHelper.LoadList<ServiceDTO>("services");
        }
        catch (Exception)
        {
            items = [];
        }
    }
}