@using MKnet.Landing.Strategy.Components.Landing.Components
@using MKnet.Landing.Strategy.Domain.Models

<section id="team" class="team section light-background">

    <div class="container section-title" data-aos="fade-up">
        <h2>Miembros</h2>
        <div><span>Nuestro</span> <span class="description-title">Equipo</span></div>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            @foreach (var item in items)
            {
                <Member Item="item"/>
            }
        </div>

    </div>

</section>

@code {
    private List<MemberDTO> items = [];

    protected override async Task OnInitializedAsync()
    {
        items = new List<MemberDTO>
        {
            new MemberDTO("Walter White", "Chief Executive Officer", "+53 11111111", "person-m-7.webp", "Descripción del cargo.", ""),
            new MemberDTO("Sarah Jhonson", "Product Manager", "+53 11111111", "person-f-8.webp", "Descripción del cargo.", ""),
            new MemberDTO("William Anderson", "CTO", "+53 11111111", "person-m-6.webp", "Descripción del cargo.", ""),
            new MemberDTO("Amanda Jepson", "Accountant", "+53 11111111", "person-f-4.webp", "Descripción del cargo.", ""),
        };
        await Task.CompletedTask;
    }
}
