@using MKnet.Landing.Strategy.Domain.Models

<div class="faq-item">
    <h3>@Item.Question</h3>
    <div class="faq-content">
        <p>@Item.Answer 
            @if (!string.IsNullOrEmpty(Item.Link))
            {
                <a href="@Item.Link" target="_blank" rel="noopener noreferrer"><i class="bi bi-link-45deg"></i></a>
            }
        </p>
    </div>
    <i class="faq-toggle bi bi-chevron-right"></i>
</div>

@code {
    [Parameter, EditorRequired]
    public FaqDTO Item { get; set; }
}
