@using MKnet.Landing.Strategy.Models

<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
    <div class="service-card position-relative z-1">
        <div class="service-icon">
            <img src="assets/img/services/@Item.Image" alt="@Item.Title">
        </div>
        <h3>
            <a href="service-details.html">
                @Item.Title <span>@Item.SubTitle</span>
            </a>
        </h3>
        <p>
            @Item.Description
        </p>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public ServiceDTO Item { get; set; }
}
