<nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
    <div class="container">
        <a href="/" class="navbar-brand"><img src="images/logo-with-title.png" alt=""></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item">
                    <NavLink class="nav-link active page-scroll" href="#home" Match="NavLinkMatch.All">Inicio</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link page-scroll" href="#services">Nosotros</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link page-scroll" href="#features">Servicios</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link page-scroll" href="#showcase">Multimedia</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link page-scroll" href="#team">Miembros</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

}
