@page "/"
@using MKnet.Web.Components.Landing
@using MKnet.Web.Components.Layout
@layout LandingLayout

<LandingHeader/>

<LandingAbout/>

<LandingServices/>

<LandingMedia/>

<LandingTeam/>

<LandingFooter/>

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="lni-chevron-up"></i>
</a>